.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background-color: transparent;
  opacity: 1;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.8s ease;
}

@media screen and (max-width:510px){
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}